fastapi
uvicorn[standard]
python-dotenv
sqlalchemy
psycopg2-binary

praw
newsapi-python
requests
beautifulsoup4
httpx

groq
openai
anthropic

transformers
torch
sentence-transformers
pinecone-client

pydantic
